@charset "utf-8";

.errorWrap {
	border-top:1px solid #B7B7B7;
	padding: 0 0 20px;
}
.errorWrap .errorTxtArea {
	margin: 15px 4% 60px;
}
.errorWrap .errorTxtArea p{
	font-size: 4.2vw;
	font-weight: bold;
	padding: 0 15px ;
}
.errorWrap .wideButtonDefault a,
.errorWrap .wideButtonDefault button {
	background-color: #FF7200;
	color: #FFF;
}
.errorWrap .mainteArea {
	text-align: center;
	margin: 15px auto 40px;
}
.errorWrap .mainteArea p {
	border: 1px solid #34A862;
	padding: 15px;
	color: #34A862;
	text-align: center;
	font-size: 4.2vw;
	font-weight:bold;
	display:inline-block;
}